body{
    background-color:#181818;
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    text-align: center;
}

button{
    cursor: pointer;
    padding: 10px 15px;
    appearance: none;
    text-transform: uppercase;
    background: #fff;
    border: none;
    margin: 0 20px;
    transition:all .25s;
}

button:hover{
    background: #d3d3d3;
}