.app{
  width:100%;
  color:#fff;
  padding:10px;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction: column;
}

*::-webkit-scrollbar{
  width:15px;
}
*::-webkit-scrollbar-track{
  background-color: #fff;
}
*::-webkit-scrollbar-thumb{
  background-color: #797979;
}


h1{
  font-size:28px;
  text-align: center;
}

h2{
  width:100%;
}

.switch-container{
  display:flex;
  align-items:center;
  width:100%;
}
.container-percentages{
  display:flex;
  flex-wrap: wrap;
  align-items:center;
  justify-content:center;
}
.container-percentages > *{
  margin: 20px 10px;
}